th {
    width: 50%;
    background-color: #1e2125;
    color: #fafafa;
    font-size: 40px ;
}
table {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    margin-bottom: auto ;
    margin-top: auto;
    height: 300px;
}
#pcScore, #pScore{
    font-size: 300px;
}
@font-face {
    font-family:"Pixeboy";
    src: url("resources/Pixeboy-z8XGD.ttf") format("truetype");
}
body {
    font-family: Pixeboy;
    background-color: #d6d8d9;
    color: #1e2125;
    min-height: 100%;

}
h1{
    font-size: 70px;
    width: 100%;
    text-align: center;
    background-color: #1e2125;
    color: #c0c5c6;
}
button  {
    font-family: inherit;
    font-size:40px ;
    width: 100%;

}
td {
    width: 20%;
}
.react {
    text-align: center;
    font-size: 60px;
    vertical-align: center;
}
.reactwrap{



    margin-top: 50px;


}
#pScore{
    background-color:pink;
}
#pcScore{
    background-color: yellow;
}
